html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
* {
  margin:0 ;
}
body {
  margin: 0;
  padding: 0;
  background: #0f574e;
  background: -webkit-linear-gradient( to top , #007d35, #0f574e );
  background: linear-gradient( to top,  #007d35, #0f574e ); 
  width: 100%;
  height: 100vh;
}
#root {
  width: 100%;
}
.container-img {
  padding-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}
img {
  width: 20%;
  display: block;
}
@media ( max-width:768px ) {
  img {
    width: 30%;
  }
}
@media ( max-width:500px ) {
  img {
    width: 40%;
  }
}